body.str {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  background: #6cb9e5;
}
/* Common code for all pages */

#navigation {
  width: auto;
  height: 85px;
  background: #faea58;
}

#hamburger {
  width: 35px;
  height: 30px;
  padding: 30px 0px 0px 20px;
  cursor: pointer;
  z-index: 100;
}

.bar {
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 10px;
  background: #6cb9e5;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.nav {
  padding: 0;
  margin: 0px 20px 0px 0px;
  transition: 1s ease;
  display: none;
}

.nav li a {
  text-decoration: none;
}
.nav li a:active {
  color: #636363;
}
.nav li {
  list-style: none;
  padding: 20px 0 0 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#li-all {
  padding-left: 37px;
}

.cross-icon .bar {
  background-color: #6cb9e5;
}

.cross-icon #bar1 {
  transform: translateY(4px) rotate(-45deg);
}

.cross-icon #bar2 {
  opacity: 0;
}

.cross-icon #bar3 {
  transform: translateY(-6px) rotate(45deg);
}

.change-ham {
  background-color: #faea58;
  height: 100vh;
  position: absolute;
  margin: 0;
  color: #636363;
  font-family: "Marhey", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  top: 0;
  z-index: -100;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 1000px) {
  .change-ham {
    width: 40%;
  }
}

@media only screen and (max-width: 500px) {
  .change-ham {
    width: 100%;
  }
}

h4 {
  color: #514545;
  font-family: "Marhey", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: fixed;
  top: 120px;
  left: 32px;
}

#home-icn{
padding-left: 5px;
}

/* style.css */

.task {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
}

.task-checkbox {
  margin-right: 5px;
}

/* Startpage css */

.str-head {
  color: #514545;
  font-family: "Kanit", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin: 0;
}
.top-des {
  width: auto;
  height: 250px;
  border-radius: 0px 0px 202px 0px;
  background: #faea58;
  display: flex;
  justify-content: center;
  align-items: center;
}

.strimg-div {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.str-img {
  height: 217px;
  width: 300px;
}

.bot-btn {
  width: 200px;
  height: 60px;
  border: none;
  border-radius: 30px;
  background: #6cb9e5;
  color: #fff;
  font-family: "Kanit", sans-serif;
  font-size: 37px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bot-btn:hover {
  box-shadow: 10px 10px 0px #000;
}

.bot-des {
  width: 100%;
  height: 250px;
  border-radius: 214px 0px 0px 0px;
  background: #faea58;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
}

/* Homepage css */
body.hp {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  background: #ffffff;
}

.hp-btn {
  height: 80px;
  border-radius: 30px 30px 0px 0px;
  background: #faea58;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 10px;
}

.hp-head {
  color: #faea58;
  font-family: "Kanit", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.hp-mid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0 0 0;
}

.hp-img {
  width: 295px;
  height: 267px;
}

.save-icon {
  height: 48px;
  width: 34px;
  padding-top: 23px;
}

.taskadd-icon {
  height: 50px;
  width: 50px;
  padding-top: 23px;
}

.delete-icon {
  height: 50px;
  width: 45px;
  padding-top: 23px;
}

/* Taskpage css */
body.tp {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  background: #ffffff;
}

.ts-add {
  height: 280px;
  border-radius: 30px 30px 0px 0px;
  background: #6cb9e5;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#add-ts {
  color: #fff;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 20px 0px 0px 30px;
}

#ts-text {
  font-size: 17px;
  font-family: "Kanit", sans-serif;
  border-radius: 9px;
  border: 1px solid #737373;
  background: #6cb9e5;
  width: auto;
  height: 40px;
  margin: 0px 30px 0px 30px;
  padding-left: 10px;
}

#ts-text:focus {
  outline: none;
  font-size: 17px;
}

#add-ds {
  color: #fff;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 30px;
}
#ts-des {
  font-size: 17px;
  font-family: "Kanit", sans-serif;
  border-radius: 9px;
  border: 1px solid #737373;
  background: #6cb9e5;
  width: auto;
  height: 40px;
  margin: 0px 30px 0px 30px;
  padding-left: 10px;
  resize: vertical;
}

#ts-des:focus {
  outline: none;
  font-size: 17px;
}

#submit-btn {
  display: flex;
  flex-direction: row-reverse;
  margin: 10px 30px 0px 0px;
  cursor: pointer;
  width: 120px;
  height: 35px;
  border: none;
  border-radius: 30px;
  background: #faea58;
  color: #3a3a3a;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  justify-content: center;
  align-items: center;
}

#tp-btn {
  display: flex;
  flex-direction: row-reverse;
}

/* Savetask-page css */
.st {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  background: #6cb9e5;
}

#taskContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-top: 20px;
}

.task-item{
  width: auto;
  height: auto;
  margin: 0px 30px 10px 30px;
  border-radius: 9px;
  border: 1px solid #737373;
  background: #ffffff;
  color: #000;
  font-family: sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#ts-p{
  margin: 0;
}

/* Deletehistory-page css */

.dh {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  background: #6cb9e5;
}

.dh-footer {
  height: 80px;
  border-radius: 30px 30px 0px 0px;
  background: #faea58;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 10px;
}

#dh-para {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.ch-div {
  display: flex;
  flex-direction: row-reverse;
  gap: 3px;
  margin: 20px 20px 0px 0px;
  text-align: center;
  align-items: center;
}

.dh-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 150px;
}

#new-div {
  display: none;
}

#del:active {
  color: #636363;
}