body.str {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  background: #6cb9e5;
}
/* hamburger code */

#navigation {
  width: auto;
  height: 85px;
  background: #faea58;
}

#hamburger {
  width: 35px;
  height: 30px;
  padding: 30px 0px 0px 20px;
  cursor: pointer;
  z-index: 100;
}

.bar {
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 10px;
  background: #6cb9e5;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.navs {
  padding: 0;
  margin: 0px 20px 0px 0px;
  transition: 1s ease;
  display: none;
}

.navs li a {
  text-decoration: none;
  padding: 8px 0px 0px 0px;
  color: #636363;
}
.navs li a:active {
  color: #636363;
}
.navs li {
  list-style: none;
  padding: 35px 0 0 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#li-all {
  padding-left: 37px;
}

.cross-icon .bar {
  background-color: #6cb9e5;
}

.cross-icon #bar1 {
  transform: translateY(4px) rotate(-45deg);
}

.cross-icon #bar2 {
  opacity: 0;
}

.cross-icon #bar3 {
  transform: translateY(-6px) rotate(45deg);
}

.change-ham {
  background-color: #faea58;
  height: 100%;
  position: absolute;
  margin: 0;
  color: #636363;
  font-family: "Marhey", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  top: 0;
  z-index: -100;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 1000px) {
  .change-ham {
    width: 40%;
  }
}

@media only screen and (max-width: 500px) {
  .change-ham {
    width: 100%;
  }
}

h4 {
  color: #514545;
  font-family: "Marhey", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: fixed;
  top: -26px;
  right: 30px;
}
.icon-div {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 170px;
}

#ham-para {
  position: absolute;
  bottom: 15px;
  font-size: 15px;
  left: 20px;
  margin: 0;
  color: #6cb9e5;
}

#home-icn {
  padding-left: 5px;
}

.task {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
}

.task-checkbox {
  margin-right: 5px;
}

#dl-head {
  display: none;
  font-family: "Kanit", sans-serif;
  font-size: 26px;
  font-style: normal;
  color: #6cb9e5;
}

#cp-head {
  display: none;
  font-family: "Kanit", sans-serif;
  font-size: 26px;
  font-style: normal;
  color: #6cb9e5;
}

/* Startpage css */

.str-head {
  color: #514545;
  font-family: "Kanit", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin: 0;
}
.top-des {
  width: auto;
  height: 250px;
  border-radius: 0px 0px 202px 0px;
  background: #faea58;
  display: flex;
  justify-content: center;
  align-items: center;
}

.strimg-div {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.str-img {
  height: 217px;
  width: 300px;
  object-fit: cover;
}

.bot-btn {
  width: 200px;
  height: 60px;
  border: none;
  border-radius: 30px;
  background: #6cb9e5;
  color: #fff;
  font-family: "Kanit", sans-serif;
  font-size: 37px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bot-btn:hover {
  box-shadow: 10px 10px 0px #fff;
}

.bot-des {
  width: 100%;
  height: 250px;
  border-radius: 214px 0px 0px 0px;
  background: #faea58;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
}

/* Homepage css */

body.hp {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  background: #ffffff;
}

.hp-btn {
  height: 80px;
  border-radius: 30px 30px 0px 0px;
  background: #faea58;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 10px;
}

.hp-head {
  color: #faea58;
  font-family: "Kanit", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.hp-mid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0 0 0;
}

.hp-img {
  width: 295px;
  height: 267px;
}

.save-icon {
  height: 48px;
  width: 34px;
  padding-top: 23px;
  cursor: pointer;
}

.taskadd-icon {
  height: 50px;
  width: 50px;
  padding-top: 23px;
  cursor: pointer;
}

.delete-icon {
  height: 50px;
  width: 45px;
  padding-top: 23px;
  cursor: pointer;
}

.ts-add {
  height: 280px;
  border-radius: 30px 30px 0px 0px;
  background: #6cb9e5;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: none;
  flex-direction: column;
  transition: transform 0.3s ease-out;
}
.ts-add.slide-down {
  transform: translateY(100%);
}

#add-ts {
  color: #fff;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 20px 0px 0px 30px;
}

#ts-text {
  font-size: 17px;
  font-family: "Kanit", sans-serif;
  border-radius: 9px;
  border: 1px solid #737373;
  background: #6cb9e5;
  width: auto;
  height: 40px;
  margin: 0px 30px 0px 30px;
  padding-left: 10px;
}

#ts-text:focus {
  outline: none;
  font-size: 17px;
}

#add-ds {
  color: #fff;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 30px;
}
#ts-des {
  font-size: 17px;
  font-family: "Kanit", sans-serif;
  border-radius: 9px;
  border: 1px solid #737373;
  background: #6cb9e5;
  width: auto;
  height: 40px;
  margin: 0px 30px 0px 30px;
  padding-left: 10px;
  resize: vertical;
}

#ts-des:focus {
  outline: none;
  font-size: 17px;
}

#submit-btn {
  display: flex;
  flex-direction: row-reverse;
  margin: 10px 30px 0px 0px;
  cursor: pointer;
  width: 120px;
  height: 35px;
  border: none;
  border-radius: 30px;
  background: #faea58;
  color: #3a3a3a;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  justify-content: center;
  align-items: center;
}

#tp-btn {
  display: flex;
  flex-direction: row-reverse;
}

#taskContainer {
  display: none;
  flex-direction: column;
  height: auto;
  margin-top: 20px;
}

.task-item {
  width: auto;
  height: auto;
  margin: 0px 30px 10px 30px;
  border-radius: 9px;
  border: 1px solid #737373;
  background: #ffffff;
  color: #000;
  font-family: sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#ts-p {
  margin: 0;
}

.edit-form {
  height: 280px;
  border-radius: 30px 30px 0px 0px;
  background: #6cb9e5;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: none;
  flex-direction: column;
  transition: transform 0.3s ease-out;
}

#edit-ts {
  color: #fff;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 20px 0px 0px 30px;
}

#edit-text {
  font-size: 17px;
  font-family: "Kanit", sans-serif;
  border-radius: 9px;
  border: 1px solid #737373;
  background: #6cb9e5;
  width: auto;
  height: 40px;
  margin: 0px 30px 0px 30px;
  padding-left: 10px;
}

#edit-ds {
  color: #fff;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 30px;
}

#edit-des {
  font-size: 17px;
  font-family: "Kanit", sans-serif;
  border-radius: 9px;
  border: 1px solid #737373;
  background: #6cb9e5;
  width: auto;
  height: 40px;
  margin: 0px 30px 0px 30px;
  padding-left: 10px;
  resize: vertical;
}

#et-btn {
  display: flex;
  flex-direction: row-reverse;
}

#edit-btn {
  display: flex;
  flex-direction: row-reverse;
  margin: 10px 30px 0px 0px;
  cursor: pointer;
  width: 140px;
  height: 35px;
  border: none;
  border-radius: 30px;
  background: #faea58;
  color: #3a3a3a;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  justify-content: center;
  align-items: center;
}

.dh-footer {
  height: 80px;
  border-radius: 30px 30px 0px 0px;
  background: #faea58;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 10px;
  display: none;
}

#dh-para {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.ch-div {
  display: flex;
  flex-direction: row-reverse;
  gap: 3px;
  margin: 20px 20px 0px 0px;
  text-align: center;
  align-items: center;
}

.dh-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 150px;
}

#new-div {
  display: none;
}

#del:active {
  color: #636363;
}

#history-footer {
  height: 50px;
  border-radius: 30px 30px 0px 0px;
  background: #faea58;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 10px;
  display: none;
  flex-direction: row-reverse;
  align-items: center;
}

#history-head {
  display: none;
  font-family: "Kanit", sans-serif;
  font-size: 26px;
  font-style: normal;
  color: #6cb9e5;
  margin: 10px 30px 0px 0px;
}

.exit-img {
  padding-top: 15px;
  padding-right: 5px;
}
a {
  cursor: pointer;
}

#task-icon {
  display: none;
  flex-direction: row-reverse;
  position: fixed;
  bottom: 0;
  height: 80px;
  width: 100%;
  /* z-index: -1; */
}

.ts-icn {
  height: 50px;
  width: 50px;
  margin: 15px 15px 0px 0px;
  cursor: pointer;
}

#noRes {
  display: none;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 200px;
}
#res-p {
  font-family: monospace;
}

#toDo {
  height: 100%;
  background: #6cb9e5;
  border-radius: 9px;
  box-shadow: 5px 5px 5px grey;
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
  margin: 0px 10px 10px 10px;
}

#ps-head {
  margin: 10px 0px 0px 0px;
  font-family: "Unbounded", sans-serif;
  font-size: 16px;
  color: #000000;
}
#ps-des {
  margin: 5px 0px 5px 5px;
  font-family: "Unbounded", sans-serif;
  font-weight: 100;
  font-size: 14px;
  color: #736b6b;
}

#ch-mark {
  margin: 0px 0px 0px 15px;
  accent-color: #faea58;
  width: 16px;
}

.editBtn {
  width: 34px;
  height: 19px;
  flex-shrink: 0;
  border-radius: 5px;
  color: #000;
  background: #faea58;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editBtn_div {
  display: flex;
  margin-right: 10px;
  align-items: center;
}

@media screen and (min-width: 900px) {
  .top-des {
    height: 210px;
    border-radius: 0px 0px 0px 0px;
  }
  .bot-des {
    height: 210px;
    border-radius: 0px 0px 0px 0px;
  }
  .strimg-div {
    margin-top: 40px;
  }
  .str-head {
    font-size: 70px;
  }
  .bot-btn {
    width: 300px;
    height: 70px;
    font-size: 40px;
  }
}
@media screen and (max-width: 899px) and (min-width: 500px) {
  .top-des {
    height: 190px;
    border-radius: 0px 0px 0px 0px;
  }
  .bot-des {
    height: 190px;
    border-radius: 0px 0px 0px 0px;
  }
  .strimg-div {
    margin-top: 60px;
  }
  .str-head {
    font-size: 60px;
  }
  .bot-btn {
    width: 250px;
    height: 60px;
    font-size: 35px;
  }
}
