body {
  width: auto;
  height: 926px;
  margin: 0;
  padding: 0;
  background-color: #6cb9e5;
}
/* Startpage css */

.str-head {
  color: #514545;
  font-family: Berlin Sans FB;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin: 0;
}
.top-des {
  width: auto;
  height: 360px;
  border-radius: 0px 0px 202px 0px;
  background: #faea58;
  display: flex;
  justify-content: center;
  align-items: center;
}

.str-img {
  width: auto;
}

.bot-btn {
  width: 200px;
  height: 60px;
  border-radius: 30px;
  background: #6cb9e5;
  color: #fff;
  font-family: Berlin Sans FB;
  font-size: 37px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.bot-btn:hover{
  box-shadow: 10px 10px 0px #000;
}

.bot-des {
  width: auto;
  height: 360px;
  border-radius: 214px 0px 0px 0px;
  background: #faea58;
  display: flex;
  justify-content: center;
  align-items: center;
}













/* Homepage css */
/* Taskpage css */
/* Savetask-page css */
/* Savehistory-page css */
/* Historypage css */
/* Deletehistory-page css */
